.span2
.span4
  %h1= "#{@life_insurance.class.model_name.human} #{@life_insurance.name}"
  .well
    %table.table.table-striped
      %tbody
        %tr
          %td=t "name"
          %td= @life_insurance.name
        %tr
          %td=t "website"
          %td= link_to @life_insurance.website, @life_insurance.website
        %tr
          %td=t "insurer"
          %td= link_to @life_insurance.insurer.name, @life_insurance.insurer unless @life_insurance.insurer.nil?
        %tr
          %td=t "broker"
          %td= link_to @life_insurance.broker.name, @life_insurance.broker unless @life_insurance.broker.nil?
        %tr
          %td=t "nb_insurance_contracts"
          %td= @life_insurance.life_insurance_contracts.count
    - if user_signed_in? && current_user.life_insurances.map{|li| li.id}.include?(@life_insurance.id)
      %h2=t "user.list.contracts_life_insurance"
      %table.table.table-striped.table-condensed.table-bordered
        = render :partial => "life_insurance_contracts/contract_table", :locals => {:life_insurance_contracts => current_user.contracts(@life_insurance)}

  - if can? :update, @life_insurance
    = link_to t('shared.edit'), edit_life_insurance_path(@life_insurance), :class => 'btn'
  = link_to t('shared.back'), life_insurances_path, :class => 'btn'
