.span2
.span8
  %h1= "#{@user.class.model_name.human} #{@user.name}"
  .well
    %table.table.table-striped
      %tbody
        %tr
          %td=t "attributes.name"
          %td= @user.name
        %tr
          %td=t "attributes.email"
          %td= @user.email
        %tr
          %td
            =t "contracts"
            %span.badge.badge-info= @user.life_insurance_contracts.count
          %td
            - if @user.life_insurance_contracts.any?

              %table.table.table-striped.table-condensed.table-bordered
                = render :partial => "life_insurance_contracts/contract_table", :locals => {:life_insurance_contracts => @user.life_insurance_contracts}
            - if can? :create, LifeInsuranceContract
              = link_to new_life_insurance_contract_path, :class => "btn btn-primary btn-small" do
                %i.icon-plus
                =t "new.contract"
        %tr
          - if current_page?(:action => 'show')
            %td
              =t "active_positions"
              %span.badge.badge-info= @user.positions.active.count
          - else
            %td
              =t "positions"
              %span.badge.badge-info= @user.positions.count
          %td
            %table.table.table-striped.table-condensed.table-bordered
              - if current_page?(:action => 'show')
                - if @user.positions.active.any?
                  =# render :partial => "positions/position_table", :locals => {:positions => @user.positions.active}
                =# link_to t("all_positions"), user_show_all_positions_path(@user)
              - else
                - if @user.positions.any?
                  =# render :partial => "positions/position_table", :locals => {:positions => @user.positions}
                =# link_to t("active_positions"), @user
              - if can? :create, Position
                = link_to new_position_path, :class => "btn btn-primary btn-small" do
                  %i.icon-plus
                  =t "new.position" 

  .btn-group
    = link_to  root_path, :class => 'btn' do
      %i.icon-home
      =t 'shared.back'
    - if current_user.has_role? :admin
      = link_to  users_path, :class => 'btn' do
        %i.icon-arrow-left
        =t 'shared.back_users'
    - if can? :update, @user
      = link_to edit_user_registration_path(@user), :class => 'btn' do
        %i.icon-edit
        =t 'shared.edit'
