- dont_show_modify_buttons = current_page?(:controller => 'life_insurances', :action => "show") || current_page?(:controller => 'users', :action => "show") || current_page?(:controller => 'brokers', :action => "show") || current_page?(:controller => 'insurers', :action => "show")
%thead
  %tr
    %th=t "contract_number"
    - unless current_page?(:controller => 'users', :action => "show")
      %th=t "user"
    - unless current_page?(:controller => 'life_insurances', :action => "show")
      %th=t "life_insurance"
    %th=t "nb_active_positions"
    %th=t "nb_positions"
    - unless cannot?(:modify, LifeInsuranceContract) || life_insurance_contracts.empty? || dont_show_modify_buttons
      %th
%tbody
  - life_insurance_contracts.each do |life_insurance_contract|
    %tr
      %td= link_to life_insurance_contract.contract_number, life_insurance_contract
      - unless current_page?(:controller => 'users', :action => "show")
        - if can? :read, life_insurance_contract.user
          %td= link_to life_insurance_contract.user.name, life_insurance_contract.user unless life_insurance_contract.user.nil?
        - else
          %td= life_insurance_contract.user.name unless life_insurance_contract.user.nil?
      - unless current_page?(:controller => 'life_insurances', :action => "show")
        - if can? :read, life_insurance_contract.life_insurance
          %td= link_to life_insurance_contract.life_insurance.name, life_insurance_contract.life_insurance unless life_insurance_contract.life_insurance.nil?
        - else
          %td= life_insurance_contract.life_insurance.name unless life_insurance_contract.life_insurance.nil?
      %td= life_insurance_contract.positions.active.count
      %td= life_insurance_contract.positions.count
      - unless cannot?(:modify, life_insurance_contract) || dont_show_modify_buttons
        %td
          - if can? :update, life_insurance_contract
            = link_to edit_life_insurance_contract_path(life_insurance_contract), :class => "btn" do
              %i.icon-edit
              =t 'shared.edit'
          - if can? :destroy, life_insurance_contract
            = link_to life_insurance_contract, :confirm => t('shared.confirm'), :method => :delete, :class => "btn btn-danger" do
              %i.icon-trash
              =t 'shared.destroy'
