= link_to "Avie", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li= link_to t("user.home"),current_user
  %li= link_to(Insurer.model_name.human, insurers_path)
  %li= link_to(Broker.model_name.human, brokers_path)
  %li= link_to(LifeInsurance.model_name.human, life_insurances_path)
  %li= link_to(AccountUnit.model_name.human, account_units_path)
  %li= link_to(EuroFund.model_name.human, euro_funds_path)
  %li.divider-vertical
%ul.nav.pull-right
  - if user_signed_in?
    %li= link_to("#{t 'hi'} #{current_user.name}#{t"ep"}", current_user)
    %li
      = link_to(t('devise.shared.edit'), edit_user_registration_path)
    - if current_user.has_role? :admin
      %li
        = link_to(t('devise.shared.admin'), users_path)
  - else
    %li
      = link_to(t('devise.shared.sign_up'), new_user_registration_path)
  - if user_signed_in?
    %li
      = link_to(t('devise.shared.sign_out'), destroy_user_session_path, :method=>'delete')
  - else
    %li
      = link_to(t('devise.shared.sign_in'), new_user_session_path)

